@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
#body{
    font-family: 'Oswald',sans-serif;
    background-color: rgb(90, 90, 90);
    min-width: auto;
    max-width: auto;
}

/*cabeçalho*/
#cabecalho{
    width: 100%;
    height: 100px;
    background-color: yellow;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 746px;
    top: 0;
}
.tituloLogo{
    display: flex;
    align-items: center;
    margin: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.iconEgg{
    width: 5rem;
    height: auto;
    margin-right: 1rem;
    margin-top: 0.2rem;
}
.pesLoja{
    display: flex;
    align-items: center;
    width: auto;
}
section{
    background-color: white;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    height: 2rem;
    margin-right: 1rem;
    width: 90%;
}
.iconPsq{
    width: 1rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
}
.barraPesq{
    background-color: transparent;
    outline: none;
    height: 2rem;
    width: 50%;
    padding: 0.3rem;
    border: none;
}

/*nome e icone do usuario*/
.perfil{
    margin-right: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.iconPersonLogin{
    height: 3.5rem;
}
#nmPerfil{
    margin-right: 1rem;
    font-size: 1.3rem;
}

/*menu frontal*/
 .menuFrontal{
    background-color: rgb(177, 177, 88);
    position: fixed;
    height: 100%;
    width: auto;
    display: block;
}
.btnMenuFront{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    margin-left: 0.5rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    height: 3rem;
    width: 11rem;
    cursor: pointer;
    border-radius: 0.5rem;
    text-decoration: none;
    color: black;
}
.btnMenuFront:hover{
    background-color: rgb(211, 211, 128);
    border-radius: 2rem;
    transition-duration: 0.4s;
    border: none;
}
.icons{
    width: 2rem;
    height: auto;
    margin-left: 1rem;
}
.escOps{
    font-size: 1.3rem;
    margin-left: 1rem;
}

/*login*/
#areaLogin{
    background-color: yellow;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    border-radius: 2rem;
    display: none;

}
.nmLogin{
    margin-bottom: 2rem;
}
.label{
    margin-left: 0.5rem;
}
.input{
    background-color: white;
    height: 2rem;
    width: 90%;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    padding: 0.3rem;
    margin-bottom: 1rem;
}
.btnAut{
    background-color: lightblue;
    border: none;
    margin-top: 2rem;
    margin-left: 30%;
    width: 7rem;
    height: 3rem;
    border-radius: 1rem;
    cursor: pointer;
}
.auten{
    font-size: 1.3rem;
}
.btnAut:hover{
    background-color: aqua;
}

/*cadastro*/
.areaCadastro{
    background-color: yellow;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    border-radius: 2rem;
    
    display: none;
}
.nmCadastro{
    margin-bottom: 2rem;
}
.labelCadastro{
    margin-left: 0.5rem;
}
.inputCadastro{
    background-color: white;
    height: 2rem;
    width: 90%;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    padding: 0.3rem;
    margin-bottom: 1rem;
}
.btnSubmit{
    background-color: lightblue;
    border: none;
    margin-top: 2rem;
    margin-left: 30%;
    width: 7rem;
    height: 3rem;
    border-radius: 1rem;
    cursor: pointer;
}
.submit{
    font-size: 1.3rem;
}
.btnSubmit:hover{
    background-color: aqua;
}

#inpuRa1{
    margin-left: 91rem;
    margin-top: 1rem;
    display: block;
    position: fixed;
}
#inpuRa2{
    margin-left: 90rem;
    margin-top: 1rem;
    display: block;
    position: fixed;
}

/*custom*/
#customizar{
    position: fixed;
    margin-left: 95%;
    margin-top: 0.5%;
}

/*rodapé*/
footer{
    background-color: yellow;
    font-size: 2rem;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    min-width: 715px;
}

@media screen and (max-height:536px){
    .menuFrontal{
        width: 100%;
        height: 100px;
        background-color: rgb(177, 177, 88);
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 746px;
        top: 0;
        justify-content: center;
    }
    .opcoes{
        display: flex;
    }

    .escOps{
        visibility: hidden;
        display: none;
    }
    .btnMenuFront{
        height: 3rem;
        width: 4rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width:768px) {
    .menuFrontal{
        width: 100%;
        height: 100px;
        background-color: rgb(177, 177, 88);
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 746px;
        top: 0;
        justify-content: center;
    }
    .opcoes{
        display: flex;
    }

    .escOps{
        visibility: hidden;
        display: none;
    }
    .btnMenuFront{
        height: 3rem;
        width: 4rem;
        margin-right: 2rem;
    }
}