@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oswald',sans-serif;
    background-color: grey;
}
.areaLogin{
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    border-radius: 2rem;
}
.nmLogin{
    margin-bottom: 2rem;
}
.label{
    margin-left: 0.5rem;
}
.input{
    background-color: white;
    height: 2rem;
    width: 90%;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    padding: 0.3rem;
    margin-bottom: 1rem;
}
.btnAut{
    background-color: lightblue;
    border: none;
    margin-top: 2rem;
    margin-left: 30%;
    width: 7rem;
    height: 3rem;
    border-radius: 1rem;
    cursor: pointer;
}
.auten{
    font-size: 1.3rem;
}
.auten:hover{
    background-color: aqua;
}
